.search-result {
    background-color: rgb(255 255 255 / 20%);
    border: 1px solid rgb(255 255 255 / 50%);
    border-radius: 40px;
    min-height: 30vh;
    padding: 16px;
    margin-top: 20%;

    .today-weather {
        padding: 16px;
    }
}

.search-history {
    background-color: rgb(255 255 255 / 20%);
    border-radius: 24px;
    min-height: 50vh;
    padding: 16px;

    p {
        padding-left: 16px;
    }
}

.history-card {
    background-color: rgb(255 255 255 / 40%);
    padding: 8px 20px;
    border-radius: 16px;
    margin: 10px;

    .editBtn {
        background-color: white;
        color: grey;
        border: none;
        border-radius: 50%;
        width: 34px;
        height: 34px;
    }
}

.responsive-side {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: flex-end;
}

.datetime-text {
    padding-right: 10px;
}

@media screen and (max-width: 768px) {
    .search-result {
        .today-weather {
            padding: 16px;
        }
    }

    .responsive-side {
        .row {
            flex-flow: column-reverse !important;

            span {
                padding: 4px 0;
            }
        }
    }

    .buttons {
        display: inline;
        flex-flow: column-reverse;
    }

    .history-card {
        padding: 8px;
        margin: 10px;

        .editBtn {
            span {
                font-size: 1rem !important;
            }
        }
    }

    .search-history {
        padding: 8px;
    }

    
}